[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
	conflictStyle = diff3
[mergetool]
	keepBackup = false
[mergetool "vscode"]
	cmd = code --wait $MERGED
[pager]
	branch = false
	diff = delta
	log = delta
	reflog = delta
	show = delta
[user]
	email = agilesteel@gmail.com
	name = Vladyslav Pekker
[pull]
	rebase = true
	twohead = ort
[rebase]
	autosquash = true
	abbreviateCommands = true
[credential]
	helper = cache --timeout 3600
[rerere]
	enabled = true
[init]
	defaultBranch = main
[advice]
	detachedHead = false
[include]
	path = ~/.local/.gitconfig
[delta]
	syntax-theme = base16-ocean.dark
	line-numbers = true
	plus-style = green
	minus-style = red
	line-numbers-minus-style = black
	line-numbers-plus-style = black
	minus-emph-style = syntax
	plus-emph-style = syntax
	side-by-side = false
	plus-empty-line-marker-style = omit
	minus-empty-line-marker-style = omit
	zero-style = black
	line-numbers-right-style = black
	line-numbers-left-style = black
[submodule]
	recurse = true
